doctype html
html
  head
    title!= title
    link(rel='stylesheet', href='/style/index.css')
    link(rel='stylesheet', href='/style/chart.css')
  body
    div.container
      h1!= header
      h2 Event Stats
      div.event-stats
        table
          tr
            td Registered
            td.num-registered -
          tr
            td Accepted
            td.num-accepted -
          tr
            td Confirmed
            td.num-confirmed - 
            
      div.buses
      
      // ==========
      h2 General Data
      
      h3 Schools
      div.btn.chart(data-action='schools') Chart Schools
      a.btn.download(href='/data/users/schools', download='schools.json').
        Download Schools
      div.school-chart
      
      h3 Zip Codes
      div.btn.chart(data-action='zipcodes') Plot Zip Codes
      a.btn.download(href='/data/users/zipcodes', download='zipcodes.json').
        Download Zip Codes
      div.zipcode-chart.map
      
      h3 Why
      div.btn.chart(data-action='why') Plot
      a.btn.download(href='/data/users/why', download='why.json').
        Download Data
      a.btn.download(data-action="download" data-target="why-chart").
        Download Chart
      div.why-chart
      
      // ==========
      h2 Anonymous Data
      
      h3 Genders
      div.btn.chart(data-action='genders') Chart Genders
      a.btn.download(href='/data/anonData/genders', download='genders.json').
        Download Genders
      div.gender-chart
      
      h3 Races
      div.btn.chart(data-action='races') Chart Races
      a.btn.download(href='/data/anonData/races', download='races.json').
        Download Races
      div.race-chart
      
    
  script(src='/libs/jquery')
  script(src='/libs/d3')
  script(src='/script/index.js')